/BEAM_CONFIGS/beamlets_05mrad_00tilt.bl
*.stl
*.STL
*.obj
*.OBJ
*.ply
*.ply
*.step
*.stp
*.iges
*.igs
*.off
*.csv
*.png
*.ico
*.bmp
*.txt
*.bl
*.xml
*.vtp
*.log
*.iml
/geometry/models/CAL/BENCHMARK.stl
/3D_MODELS/
*.dens
*.json
*.fld
/.venv/
/BeamOnTarget.egg-info/
/.pv_temp_script.py